<h2>User info</h2>
  <%#= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", class:"rounded-circle"; %>, 
  <table class="table">
    <tboy>
      <%#= link_to post_image_path(post_image.id) do %>
        <%#= attachment_image_tag post_image, :image %>
      <%# end %>
      <tr>
        <th>投稿ユーザー画像：<%#= image_tag('sample-author1.jpg') %></th>
      </tr>
      <tr>
        <th>name:<%= @user.name %> </th>  
      </tr>  
      <tr>
        <th>introduction:<%#= @user.introduction %></th>
      </tr>
      <tr>
        <th><%= link_to "Sign Up", user_session_path, class: "fas fa fa-user-cog @book" %></th>
      </tr>
    </tboy>  
  </table>

<h2>New book</h2>
  <%= form_with model: @book, local:true do |f| %>
    <div class="form-group">
    <p>Title</p>
    <%= f.text_field :title %>
     </div>
 
    <div class="form-group">
      <p>Opinion</p>
      <%= f.text_area :body %>
    </div>
       
    <div class="form-group">
    <%= f.submit 'Create Book' %>
    </div>
  <% end %>

<h2>Users</h2>
  <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>  
      </thead>
      <tbody></tbody>
  </table>